<!DOCTYPE html>
<html>
    <head lang="en">
            <meta charset="UTF-8">
            <title>Posamezen gost in njegovo sporočilo</title>
    </head>

    <body>
        <h1>Posamezen gost in njegovo sporočilo</h1>

        <p>ID: {{ sporocilo.key.id() }}</p>
        <p>Ime: {{ sporocilo.ime }}</p>
        <p>Priimek: {{ sporocilo.priimek }}</p>
        <p>e-mail: {{ sporocilo.email }}</p>
        <p>Message: {{ sporocilo.message }}</p>
        <p>Datum {{ sporocilo.nastanek }}</p>
        <a href="/sporocilo/{{ sporocilo.key.id()}}/uredi">uredi sporocilo</a>
        <a href="/sporocilo/{{ sporocilo.key.id()}}/izbrisi">izbriši sporocilo</a>

    </body>
</html>


