<!DOCTYPE html>

<html>
    <head lang="en">
            <meta charset="UTF-8">
            <title>Seznam gostov in sporocil</title>
    </head>

    <br>
    <h1>Seznam izbrisanih gostov</h1>

    {% for guestbook in seznam %}

        <p><a href="/sporocilo/{{ guestbook.key.id() }}" style="padding-right: 0.1em; font-size: 1.25em">{{ guestbook.priimek }}</a>,
            {{ guestbook.ime }}, {{ guestbook.email }}, {{ guestbook.message }}, {{ guestbook.key.id() }}, {{ guestbook.nastanek }}
            <a href="/sporocilo/{{ guestbook.key.id() }}/restore" style="color: #33ccff; font-family: arial; padding-right: 0.5em;
            padding-left: 0.5em"><em>Ponovno prikaži</em></a>
            <a href="/sporocilo/{{ guestbook.key.id() }}/delete" style="color: #ff33cc; font-family: arial; padding-right:0.5em;
             padding-leftt: 0,5em"><em>Dokončno izbriši</em></a></p>
    {% endfor %}

        </br>
        <a href="seznam-sporocil" style="color: #66ff33; font-family: arial; margin: 1em; padding-left:1em;
             padding-right: 1em"><strong><em>Seznam gostov in sporočil</em></strong></a>

        </br>
    </body>
</html>





